<html>
    <body>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script type="text/javascript">
            var user = {
                token: "{{ token }}",
                user_id:"{{ user_id }}",
                username: "{{ user }}",
                profile_id: "{{ profile_id }}",
                nama_lengkap: "{{ nama_lengkap }}",
                npm: "{{ npm }}",
                email: "{{ email }}",
                angkatan: "{{ angkatan }}",
            };
            function sendLoginData(event) {
                // For Chrome, the origin property is in the event.originalEvent object.
                var origin = event.origin || event.originalEvent.origin;
                // MAKE SURE FUNCTION CALLER ORIGIN IS FROM ALLOWED DOMAIN! SECURITY PURPOSES.
                
                {% if allowed_cors_origin %}
                var allowed_origin_list = {{ allowed_cors_origin|safe }};

                if (allowed_origin_list.includes(origin)) {
                    // call postMessage function from the window caller
                    event.source.postMessage(user, origin);
                    // close window
                    window.close();
                }
                {% endif %}
            }

            // receive any postmessage to catch the caller window and send the data to there
            window.addEventListener('message', sendLoginData);
        </script>
        {% if next_page %}
        <h1>Login Sukses!</h1>
        Klik di <a href="{{ next_page }}">sini</a> untuk kembali ke halaman sebelumnya.
        {% endif %}
    </body>
</html>
